<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DeviceManagerGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DeviceManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DeviceManagerGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DeviceManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <userSettings>
    <DeviceManagerGUI.Properties.Settings>
      <setting name="OutputDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LogFileName" serializeAs="String">
        <value>DeviceManager_Log.txt</value>
      </setting>
      <setting name="WriteIntervalMillis" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="DataViewerUpdateIntervalMillis" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="HideLogOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastUpdateLingerSeconds" serializeAs="String">
        <value>10</value>
      </setting>
    </DeviceManagerGUI.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <DeviceManagerGUI.Properties.Settings>
      <setting name="DataViewerUpdateIntervalMillisMin" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="WriteIntervalMillisMin" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="BoardColumn_Pressure1" serializeAs="String">
        <value>Press1</value>
      </setting>
      <setting name="BoardColumn_Pressure2" serializeAs="String">
        <value>Press2</value>
      </setting>
      <setting name="BoardColumn_Pressure3" serializeAs="String">
        <value>Press3</value>
      </setting>
      <setting name="BoardColumn_Pressure4" serializeAs="String">
        <value>Press4</value>
      </setting>
      <setting name="BoardColumn_Pressure5" serializeAs="String">
        <value>Press5</value>
      </setting>
      <setting name="BoardColumn_Pressure6" serializeAs="String">
        <value>Press6</value>
      </setting>
      <setting name="BoardColumn_Pressure7" serializeAs="String">
        <value>Press7</value>
      </setting>
      <setting name="BoardColumn_Pressure8" serializeAs="String">
        <value>Press8</value>
      </setting>
      <setting name="BoardColumn_O2Volts1" serializeAs="String">
        <value>O2Volts1</value>
      </setting>
      <setting name="BoardColumn_O2Volts2" serializeAs="String">
        <value>O2Volts2</value>
      </setting>
      <setting name="Column_Index" serializeAs="String">
        <value>Index</value>
      </setting>
      <setting name="Column_TicksUTC" serializeAs="String">
        <value>Ticks_UTC</value>
      </setting>
      <setting name="Column_DateUTC" serializeAs="String">
        <value>Date_UTC</value>
      </setting>
      <setting name="Column_DateLocal" serializeAs="String">
        <value>Date_Local</value>
      </setting>
      <setting name="Column_Millis" serializeAs="String">
        <value>Millis</value>
      </setting>
    </DeviceManagerGUI.Properties.Settings>
  </applicationSettings>
</configuration>
